/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

body {
    height: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar {
    width: 100%;
    height: 67px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(97, 97, 97, 0.11);
}

.logo {
    position: absolute;
    background-image: url('../images/logo.png');
    width: 136px;
    height: 19px;
    left: 32px;
    top: 24px;
}

.container {
    height: 100%;
}

.main {
    width: 720px;
    height: 363px;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid #F2F3F4;
    box-sizing: border-box;
    box-shadow: 0px 2px 12px rgba(97, 97, 97, 0.11);
    border-radius: 8px;
}